section.form-section
  .container
    .title
      h2.title__header Get Your Free Facebook Analysis Now
      .title__text Enter your details below
      
    .btn-down: a.arrow-down(href="#"): i.fa.fa-angle-down

    .form-container.is-hidden
      form(method="post" action="#").form
        button(type="button").form__close--button x 
        .form__text. 
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta aspernatur quod obcaecati sint dolorum voluptate accusamus assumenda ullam eum accusantium. 

        .form__fields
          input.form__input(type="text" placeholder="Your Name" data-valid="required")  
          input.form__input(type="email" placeholder="Email" data-valid="required" data-email)
          input.form__input(type="text" placeholder="Contact Number" data-valid="required" data-number)  
        button(type="submit").button.button--red.button--text-uppercase Submit now